Makefile
Makefile.in
*~
config.guess
config.sub
config.log
config.status
aclocal.m4
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
*.o
*.lo
*.la
.libs
.deps
libtool
exempi/exempi-2.0.pc
exempi/tests/test.jpg
exempi/tests/test1
exempi/tests/test2
exempi/tests/test3
exempi/tests/testinit
exempi/doc/Doxyfile
samples/source/dumpmainxmp
samples/source/dumpxmp
samples/source/xmpcoverage
samples/source/xmpfilescoverage
