Makefile
Makefile.in
*~
config.guess
config.sub
config.log
config.status
aclocal.m4
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
*.o
*.lo
*.la
.libs
.deps
exempi/exempi-2.0.pc
libtool
