Makefile
Makefile.in
*~
TAGS
config.guess
config.sub
config.log
config.status
aclocal.m4
autogen.err
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
stamp-h1
shave
shave-libtool
*.o
*.lo
*.la
.libs
.deps
libtool
test-driver
exempi/exempi-2.0.pc
exempi/exempi
exempi/tests/test.jpg
exempi/tests/testexempicore
exempi/tests/testserialise
exempi/tests/testwritenewprop
exempi/tests/testtiffleak
exempi/tests/testxmpfiles
exempi/tests/testxmpfileswrite
exempi/tests/test2
exempi/tests/test3
exempi/tests/testinit
exempi/tests/testfdo18635
exempi/tests/testcpp
exempi/tests/*.log
exempi/tests/*.trs
exempi/doc/Doxyfile
samples/source/dumpmainxmp
samples/source/dumpxmp
samples/source/xmpcoverage
samples/source/xmpfilescoverage
samples/source/customschema
samples/source/modifyingxmp
samples/source/readingxmp
samples/source/xmpcommandtool
samples/source/xmpcoverageLog.txt
